<% if @supplier_review.errors.any? %>
<div id="error">
  <h5><%= pluralize(@supplier_review.errors.count, "error") %> prohibited this review from being saved:</h5>
  <ul>
    <% @supplier_review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>