
<div class="col-md-3">
  <div class="contact">
    <h3>BrickAPP SL</h3>
    <ul class="list-group">    
      <li class="list-group-item"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Nuñez de Balboa st. 120</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>28006</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Madrid</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>Comunidad de Madrid</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Spain</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>123456789</li>
    </ul>
  </div>
</div>

<div class="col-md-1"></div>
<div class="col-md-8">
 <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
 <div id='gmap_canvas'></div>
</div>






