body {
 font-family: 'Montserrat', sans-serif;
}

#body-guest{
  background-color: #F8F8F8;
}

.alert {
  width: 25%;
  margin-left: 20px;
}

#gmap_canvas {
  height:440px;
  width:700px;
}

.contact {
  border-radius: 10;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
}

.list-group-item {
  background-color: #FFFFFF;
}

#logo_home {
  height: 50px;
  width: auto;
}

#icon {
  height: 50px;
  width: auto;
  display: inline-block;
}

#details {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFCA00;
  padding: 40px;
  margin-top: -20px;
}

.nav-guest {
  background:linear-gradient(135deg, #FFCA00 50%, #242423 50%);
  border-radius: 0px;
  border: 0px;
  margin-bottom: 25px;
}
.navbar {
  border-radius: 0px;
  border: 0px;
  background:linear-gradient(135deg, #FFCA00 50%, #242423 50%); 
}

.navbar-default .navbar-nav > li > a {
  color: #FFCA00;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FFCA00;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-color: #FFCA00;
  padding: 10px;
}

.field-holder {
  background-color: #FFF;
}

.modal-content {
  background-color: #eeeeee;
}

.profile_image {
  height: 75px;
  width: auto;
}

.content-home {
  text-align: center;
  display: inline-block;
  background-image:url("main2.jpeg");
  margin-top: -20px;
  height: 100%;
}

#buttons {
  padding: 30px;
}

.home-btn {
 background: transparent;
 color: #242423;
 padding: 5px;
 width: 150px;
 border-style: solid;
 border-width: 3px;
 border-color: #FFCA00;
}

#logo{
  height: 180px;
  width: auto;
  float: center;
  align-items: center;
  margin-top: 70px;
}

footer {
  background-color: #242423;
  color: #FFF;
  margin:  0px;
  padding: 10px;
  margin-top: -10px;
}


