.nav-guest {
  border-radius: 0px;
  background-color: #FFCA00;
  border: 0px;
  color: #FFF;
  margin-bottom: 30px;
}

#gmap_canvas {
  height:440px;
  width:700px;
}

.contact {
  border-radius: 10;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
}

#logo_home {
  height: 50px;
  width: auto;
}

#icon {
  height: 50px;
  width: auto;
  display: inline-block;
}

#details {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 180px;
  padding: 50px;
  background-color: #FFCA00;
}

.navbar {
  border-radius: 0px;
  background-color: #FFCA00;
  border: 0px;
  color: #FFF;
}

.field-holder {
  background-color: #FFF;
}

.modal-content {
  background-color: #eeeeee;
}

.profile_image {
  height: 75px;
  width: auto;
}

.content-home {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

#buttons {
  padding: 30px;
}

.home-btn {
 background-color: #333533;
 color: #FFCA00;
}

#logo{
  height: 180px;
  width: auto;
  float: center;
  align-items: center;
}


