body {
 font-family: 'Montserrat', sans-serif;
}

#error {
  color: red;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: red;
  margin-left: 50px;
  margin-top: 50px;
  padding: 5px;
  width: 200px;
  text-align: center;
}

#notice {
  color: black;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  margin-left: 50px;
  margin-top: 50px;
  padding: 5px;
  width: 200px;
  text-align: center;
}

.nav-guest {
  background:linear-gradient(135deg, #FFCA00 50%, #242423 50%); 
  border: 0px;
  margin-bottom: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFCA00;
}

#gmap_canvas {
  height:440px;
  width:700px;
}

.contact {
  border-radius: 10;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
}

#logo_home {
  height: 50px;
  width: auto;
}

#icon {
  height: 50px;
  width: auto;
  display: inline-block;
}

#details {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 180px;
  padding: 50px;
  background-color: #FFCA00;
}

.navbar {
  border-radius: 0px;
  border: 0px;
  background:linear-gradient(135deg, #FFCA00 50%, #242423 50%); 
}

.field-holder {
  background-color: #FFF;
}

.modal-content {
  background-color: #eeeeee;
}

.profile_image {
  height: 75px;
  width: auto;
}

.content-home {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

#buttons {
  padding: 30px;
}

.home-btn {
 background-color: #333533;
 color: #FFCA00;
}

#logo{
  height: 180px;
  width: auto;
  float: center;
  align-items: center;
}


