#users-body {
  background-color: #FBFBF2;
}

.navbar-default .navbar-nav > li > a {
  color: #FFCA00;
}

.nav-login {
  background:linear-gradient(135deg, #FFCA00 50%, #242423 50%);
  border-radius: 0px;
  border: 0px;
  margin-bottom: 25px;
}

.tab-content {
  margin-top: 20px;
}

.glyphicon {
  margin-right: 10px;
}

#edit_profile {
  bottom: 30px; 
}

.user-table {
  border-collapse: collapse;
  width: 90%;
  padding: 8px;
  text-align: left;
  margin-left: 50px;
}
#rows-data:hover {
  background-color: #f5f5f5
}

td{
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#user_icon {
  height: 20px;
  width: auto;
}

#new-work {
  margin: 20px;
}

#new-supplier {
  margin: 20px;
}

#edit {
  margin-left: 30px;
}

#review {
  margin-left: 30px;
  margin-bottom: 50px;
}

.field{
  width: 200px;
}

.btn {
  margin: 20px;
}

.cancel {
  border: 2px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  width: 220px;
  padding: 10px;
}

.chart {
  width: 50%;
  margin: 20px auto;
}