<% if @supplier.errors.any? %>
<div id="error">
  <h5><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h5>
  <ul>
    <% @supplier.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>